 body{
    font-family: 'Poppins', sans-serif;
 }
 .blue-color{
     color: blue;
 }
  section{
     display: flex;
     margin-bottom: 120px;
 }
 .half-width{
     width: 50%;
     padding-left: 5%;
    
    
 }
 .half-width img{
     width: 50%;
     box-shadow: cadetblue;
 }
 .link-button{
     text-decoration: none;
     background-image: linear-gradient(orange, tomato);
     padding: 10px 30px;
     border-radius: 5px;
     color: cornsilk;
     font-weight: 700;

 }

 .food-work{
    position: relative; 
    background:linear-gradient( rgba(250, 234, 234, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("images/top-banner.png");
    background-repeat: no-repeat;
}

.network{
    text-align: center;
    color: dimgray;
}
    .jhonkor{
        color: gray;
    }